.marginCenter{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#homeImage,#homeImage2,#cycler,#mainContainer,.eventpageMainContainer{width:600px;}
 
#creativedirector{opacity: 0;display: block;margin-left: auto;width:300px;}

nav{width:600px;padding-top:30px;margin-bottom:30px;font-family: 'Lato', sans-serif;}
nav ul{list-style-type:none;}
#desktopNav{position:relative;}
#desktopNav ul li{opacity: 0;color:#000;}
button.navbar-toggle{opacity:0;}

#kelvinName{position: absolute;
	width: 255px;
	    left: -216px;}

.navbar-brand img{width: 200px;}

.biography p{font-family: 'Amiri', serif;font-size:20px;margin-left: 15px;
margin-right: 15px;text-align: justify;}



.navbar-default {
background-color: #fff;
border: 1px solid #fff;}
.navbar-default .navbar-toggle {
border-color: #fff;}

.navbar-default .navbar-toggle:hover {
background-color: #ddd;
}

.navbar-default .navbar-nav>li>a {
text-align: right;
color:#000;
}


/*INDEX*/
.ui-accordion-content p{margin-bottom:0px;}
.ui-accordion-content p a{color:#000;font-size:16px;font-family: 'Amiri', serif;margin-left:5px;}
h3.ui-accordion-header{cursor:pointer;font-family: 'Montserrat', sans-serif; margin-bottom: 0px;margin-top:0px;font-size: 26px;}
h3.ui-accordion-header:focus {outline:0;}
@media screen and (max-width: 600px) {
.index{padding:10px;}	
}

/*EVENTS*/
/*.bnite{    max-height: 202px;}*/
.bnite .slick-slide img{max-height: 202px;    width: auto;}
.bnite .slick-list.draggable{background:#000;}
.video_thumb{width:120px;}
.video_thumbs{margin-left:auto;margin-right:auto;width:493px;background: #000;padding:0;}
@media screen and (max-width: 615px) {
	.video_thumb{width:23%;}
	.video_thumbs{width:100%;}
}
.hide{display:none;}
#html5-watermark{display:none !important;}
@media screen and (max-width: 600px) {
.events img{width:80%;}	
}


/*PORTFOLIO*/
	.swiper-container {
	    height: 418px;
	}
	.swiper-image{
    height: 300px;
    }
	 .swiper-slide {
	     text-align: center;
	     font-size: 18px;
	     /*background: #fff;*/
	     /* Center slide text vertically */
	     display: -webkit-box;
	     display: -ms-flexbox;
	     display: -webkit-flex;
	     display: flex;
/*	     -webkit-box-pack: center;
	     -ms-flex-pack: center;
	     -webkit-justify-content: center;
	     justify-content: center;
	     -webkit-box-align: center;
	     -ms-flex-align: center;
	     -webkit-align-items: center;
	     align-items: center;*/

	 }
	.caption{position: absolute;
	    top: 305px;
	    left: 0px;font-family: 'Montserrat', sans-serif;font-size:12px;}
	.caption span{font-size:14px;font-weight:bold;}
	.portfolio{height:600px;}
	.thumbnail-container{width:200px;height:220px;float:left;cursor:pointer;}
	.thumbnail-image{width:150px;height:150px;}
	.thumbnail-caption{width:145px;text-align: center;font-size: 12px;font-family: 'Montserrat', sans-serif;}
.swiper-container,.swiper-image,.caption,swiper-slide{width:600px;}

@media screen and (max-width: 600px) {
	.swiper-container,.swiper-image,.caption,swiper-slide,.swiper-slide a{width:100%;}
	.thumbnail-container{width: 100%;height: 300px;}
	.thumbnail-image {width: 80%;height: 250px;}
}

@media screen and (max-width: 1030px) {
	#kelvinName {
	    left: -160px;
	}
	#desktopNav ul{position: relative;
    left: 63px;}
}

@media screen and (max-width: 910px) {
	#kelvinName {
	    left: -87px;
	}
	#desktopNav ul{
    left: 129px;}

	.contact{text-align:center;
}

}
@media screen and (max-width: 600px) {
#homeImage,#homeImage2,#cycler,#mainContainer,.eventpageMainContainer{
        width:100%;
    }

#creativedirector{width:50%;}
}


@media only screen and (min-width: 300px) and (max-width: 1024px) { 
	/* prettyPhoto styling for small screens */
	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
	div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
	div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
	.pp_content { width: 100%!important; height: auto!important; }
	.pp_fade { width: 100%!important; height: 100%!important; }
	a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	#pp_full_res img { width: 100%!important; height: auto!important; }
	.pp_details { width: 94%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px;  margin-top: -2px!important; }
	a.pp_close { right: 10px!important; top: 10px!important; }
	#fullResImage{width:100%!important;height:auto!important;}
	
	.swiper-slide a {
	    pointer-events: none;
	}
	
}
.mobileOnly,.nonmobile{display:none;}
@media screen and (min-width: 768px) {/*NONMOBILE DEVICES*/
	.swiper-button-prev,.swiper-button-next{padding:25px;}
	.nonmobile{display:block;}
}
@media screen and (max-width: 767px) {/*MOBILE DEVICES*/

	.left,.right {
	    float: none!important;
	    width: 100%!important;
	    margin-left: 0px!important;
		top: -16px;
		    position: relative;
	}
	.mobileOnly{display:block;}
	.lookbook3spacemobile{padding-top:30px;}
	.mobileThumbnailSpace{padding-top:0px;}
	
	.swiper-container {
	    height: 452px;
	}
	
	.horizontalThumb {margin-top:20px;}
}
.pp_expand{display:none !important;}